In [ ]:
import sqlite3
import xml.etree.ElementTree

In [ ]:
xml_scraping = xml.etree.ElementTree.parse('scraping.xml')
all_books = xml_scraping.findall('row')

In [55]:
book_sql_parsing = list()

for unit_books in all_books:
    book_sql_parsing.append((
        unit_books.find('Book-Title').text, 
        unit_books.find('Book-Price').text,
        unit_books.find('Book-Rating').text, 
        unit_books.find('Page-Found').text
    ))

test_book_list = book_sql_parsing[3:50]

In [48]:
def insert_book_one_record(dbconnection, table, book_title, book_price, book_rating, page_found):
    conn = sqlite3.connect(dbconnection)
    curs = conn.cursor()

    print(f'Insert into {dbconnection}')

    curs.execute(f"INSERT INTO {table} VALUES (?,?,?,?)", (book_title, book_price, book_rating, page_found))

    # Commit command
    conn.commit()

    # Close your connection
    conn.close()
    print('Connection Closed')

In [ ]:
for books_in_sql in book_sql_parsing:
   insert_book_one_record('books.db','books', books_in_sql['Book-Title'], books_in_sql['Book-Price'], books_in_sql['Book-Rating'], books_in_sql['Page-Found'])

In [49]:
def insert_book_many_records(dbconnection, table_to_insert, list_to_insert):
    connection = sqlite3.connect(dbconnection)
    cursor = connection.cursor()

    print(f'Inserting list into {dbconnection}')

    cursor.executemany(f"INSERT INTO {table_to_insert} VALUES (?,?,?,?)", list_to_insert)

    connection.commit()

    connection.close()
    print('Connection Closed')

In [54]:
insert_book_many_records('books.db', 'books', book_sql_parsing)

Inserting list into books.db
Connection Closed

# Create a table

cursor.execute(
"""
    CREATE TABLE books (
        book_title text,
        book_price real,
        book_rating integer,
        page_found integer
        )
""" 
#)

# Inserting One Record into Table
cursor.execute("""
    INSERT INTO books VALUES ('A Light in the Attic', '51.77', '3', '1')
""")

# Inserting many records into table
some_books = [
    ('Tipping the Velve', '53.74', '1', '1'),
    ('Soumission', '50.10', '1', '1'),
    ('Sharp Objects', '47.82', '4', '1'),
]

cursor.executemany("INSERT INTO books VALUES (?,?,?,?)", some_books)

# Update Records

cursor.execute("""
    UPDATE books SET book_price = '50.10'
    WHERE rowid = '3'
""")

# Fetch and Query data
cursor.execute("SELECT rowid, * FROM books ORDER BY book_price DESC")

query = cursor.fetchall()

print(query)

#### > [('A Light in the Attic', 51.77, 3, 1), ('Tipping the Velve', 53.74, 1, 1), ('Soumission', 50.1, 1, 1), ('Sharp Objects', 47.82, 4, 1)]

# Commit command - post into database
conn.commit()

# Close your connection - BEST PRATICE
conn.close()

Tipping the Velvet	5374	1	1
Soumission	501	1	1
Sharp Objects	4782	4	1